ul {
  width: 50%;
  border: 1px solid red;
  list-style: none;
  margin-left: 0; padding-left: 0;
}

ul li {
  margin: 5px;
  position: relative;
  border: 1px dotted green;
  padding: 5px 10px 15px 3px;
}

ul li a {
  display: inline-block;
  position: absolute;
  right: 1px;
  top: 1px;
}
